@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background-color: #e2e3e4;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    justify-content: center;
}

#hello-wrapper {
    color: #3c3c3c;
    font-size: 148px;
    font-family: 'Titillium Web', sans-serif;
}

.hello {
    text-align: left;
    justify-content: left;
}
.world {
    text-align: center;
    justify-content: center;
}


.typewriter {
    border-right: solid 5px transparent;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    animation:
        animated-text 1.2s steps(17, end) 1s 1 normal both,
        animated-cursor 600ms steps(17, end) 10;
}

  /* text animation */
@keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
  /* cursor animations */
@keyframes animated-cursor {
    from {
      border-right-color: #DBB71C;
    }
    to {
      border-right-color: transparent;
    }
}
